/*div {
    width:500px;
    height:500px;
    background: pink;
    padding:50px;
    margin:50px;
    padding-left:100 px;
    border: 10 px dotted yellow;
    border-radius: 50 px;

}*/

*{
    box-sizing:border-box;
}

body {
    margin:0;
    padding:0;
}    


.header {
    background: rgb(98, 90, 120);
    height:100px;
    width:100vw;
    font-family: "Racing Sans One", serif;
    font-size:40px;
    line-height: 100px;
    text-align:center;
}

.sidebar {
    background: rgb(255, 255, 255);
    position:absolute;
    width:30vw;
    height:100vh;
    right:0px;

}

.main {
    background: rgb(192, 192, 224);
    width:70vw;
    height:100vh;
    padding:20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content:center;

}



.name {
    font-family: "Racing Sans One", serif;
    font-size:18px;
    text-align:center;
    margin:0;
    

}

.cave-image{
    width:100%;
    display:block;
    margin:auto;
    position: relative;
}

.cat-component {
    width:400px;
    display:inline-block;
    vertical-align:top;
}

.cat-component:hover{
    background: rgb(255, 255, 255);
    border: 1px solid black;
}

.description {
    display:none;
}

.cat-component:hover .desc{
    display:block;
}

