

*{
    box-sizing:border-box;
}

body {
    margin:0;
    padding:0;
}    


.header {
    background: rgb(233, 198, 232);
    height:100px;
    width:100vw;
    font-family: "Racing Sans One", serif;
    font-size:40px;
    line-height: 100px;
    text-align:center;
}

.sidebar {
    background: rgb(255, 255, 255);
    position:absolute;
    width:30vw;
    height:100vh;
    right:0px;

}

.main {
    background: rgb(236, 216, 232);
    width:70vw;
    height:100vh;
    padding:20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content:center;

}


.name {
    font-family: "Racing Sans One", serif;
    font-size:18px;
    text-align:center;
    margin:0;
    
}

.image{
    width:100%;
    height: 100%;
    fit: cover;
    width: auto;
    display:block;
    margin:auto;
    position: relative;
}

.cat-component {
    width:200px;
    height: auto;
    display:inline-block;
    vertical-align:top;
}

.cat-component:hover{
    background: rgb(255, 255, 255);
    border: 1px solid black;
}

.description {
    display:none;
}
